<div class="vads-l-row">
  <div class="vads-l-col">
    <%# TODO Add `&& !Rails.env.development?` back to line below %>
    <% if RequestStore.store[:flipper_user_email_for_log].blank? %>
      <p>User must authenticate with GitHub to edit feature toggles</p>
      <form method="post" action="/flipper/features" >
        <button type="submit" style="background-color:black"><img style="height:25px; margin-right:20px" src="/images/github-mark-white.png" alt="gh-logo">Sign in to GitHub</button>
      </form>
    <% elsif !RequestStore.store[:flipper_authorized] %>
        <p>You are not authorized to perform any actions. Please see <a href="https://depo-platform-documentation.scrollhelp.site/developer-docs/feature-toggles" target="_blank">Platform Documentation</a> for more information.</p>
    <% end %>
    <table class="vads-u-margin-top--0">
      <caption class="vads-u-font-size--xl">Features</caption>
      <thead>
        <tr>
          <th>Status</th>
          <th>Feature</th>
          <th>Description</th>
          <th>Enabled Gates</th>
        </tr>
      </thead>
      <tbody>
        <% @features.each do |feature| %>
          <tr>
            <td>
              <%= feature.state.capitalize %>
            </td>
            <td>
              <%# TODO Add `|| Rails.env.development?` back to line below %>
              <% if RequestStore.store[:flipper_authorized] %>
                <a href="<%= "#{script_name}/features/#{feature.key}" %>">
                  <%= feature.key %>
                </a>
              <%else%>
                  <%= feature.key %>
              <% end %>
            </td>
            <td>
              <%= yaml_features.dig(feature.key,'description') %>
            </td>
            <td>
              <%= feature.pretty_enabled_gate_names %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
